.header {
	background-color: #4a76a8;
}

.header img {
	width: 50px;
}

.header_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	box-sizing: border-box;
}

.authContainer {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	padding: 0 10px;
	color: #fff;
	font-weight: 700;
}

.link {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

.link:hover {
	color: #edeef0;
}
