.PaginatorContainer {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.item {
	color: #285473;
	cursor: pointer;
	text-align: center;
	width: 20px;
	height: 20px;
}

.item:hover {
	background: #e1e5eb;
}

.selected {
	background: #e1e5eb;
	border-radius: 3px;
}

.arrow {
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.left:hover polyline,
.left:focus polyline {
    stroke-width: 3;
}

.left:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
    stroke-width: 3;
}

.right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}

polyline {
    transition: all 250ms ease-in-out;
}