.PaginatorContainer {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.item {
	color: #285473;
	cursor: pointer;
	text-align: center;
	width: 20px;
	height: 20px;
}

.item:hover {
	background: #e1e5eb;
}

.selected {
	background: #e1e5eb;
	border-radius: 3px;
}